.header {
  max-width: 100%;
  height: 50px;
  background: #020024;
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(149, 148, 242, 1) 35%,
    rgba(132, 132, 250, 1) 65%,
    rgba(189, 132, 250, 1) 100%
  );
  box-shadow: 0 8px 20px rgba(21, 17, 17, 0.1);

  &-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    p {
      font-size: x-large;
      color: white;
    }
    ul {
      display: flex;
      gap: 33px;
      font-size: x-large;
      color: white;
    }
    .icons {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      gap: 20px;
      color: white;
    }
  }
}
